.text-align-box{
    display: inline;
}

.text-align {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
     /* or any specific height you want */

}

.item {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80px;
    border: 2px solid red;
}

.search-box-wrapper{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 255px;
}

.search-box {
    position: relative;
}

.search-input {
    width: 200px;
    padding: 10px;
    padding-right: 40px; /* Make room for the search icon */
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: absolute;
    border: 3px solid red;
}

img {
    height: 100%;
    width: 20%;
}

.h1-title {
    float: right;
    height: 100%;
    padding-right: 40%;
    /* width: 80%; */

}

@media screen and (max-width: 2140px) {
    .h1-text {
      width: 180%; /* The width is 100%, when the viewport is 800px or smaller */
      font-size: 300px;
      color: pink;
    }
}

@media screen and (max-width: 1600px) {
    .h1-text {
      width: 130%; /* The width is 100%, when the viewport is 800px or smaller */
      font-size: 150px;
      color: red;
    }
}

@media screen and (max-width: 640px) {
    .h1-text {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      color: blue;
      font-size: 75px;

    }
}