.text-align-box{
    display: inline;
}

.text-align {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
     /* or any specific height you want */

}

.item {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80px;
    border: 2px solid red;
}